<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Admin</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background: #111; padding: 40px; border: 2px solid #FF0000; width: 300px;">
        <h2 style="text-align: center; color: #FF0000;">ADMIN LOGIN</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" class="search-bar" style="width: 100%;" required>
            <input type="password" name="password" placeholder="Password" class="search-bar" style="width: 100%;" required>
            <button type="submit" class="btn-info" style="width: 100%; margin-top: 20px;">LOGIN</button>
        </form>
    </div>
</body>
</html>
